.Results h2 {
  text-align: center;
  letter-spacing: 5px;
}

section {
  background: var(--secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 90%;
  margin: 10px auto;
  padding: 16px;
}
