.searchEngine {
  width: 300px;
  display: flex;
  position: relative;
  top: -35px;
  left: 480px;
  padding: 12px;
  background: rgba(204, 107, 73, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(204, 107, 73, 0.3);
}

@media (max-width: 550px) {
  .searchEngine {
    left: 120px;
    width: 150px;
    padding: 5px;
  }
}

@media (max-width: 960px) {
  .searchEngine {
    padding: 10px;
    left: 230px;
  }
}
