:root {
  --main-font: "Roboto", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-color: #faf2ee;
  --secondary-color: #f7bf9d;
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
  margin: 10px;
}

header {
  background-image: url(images/header-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 250px 0;
}

.searchEngine {
  display: block;
  margin: 0 auto;
  width: 300px;
  padding: 8px 20px;
  background: rgba(204, 107, 73, 0.56);
  color: #333;
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(204, 107, 73, 0.3);
}
.Dictionary h1 {
  font-size: 55px;
  text-transform: uppercase;
  margin: -100px 0 50px;
  text-align: center;
  letter-spacing: 5px;
}

.Dictionary .hints {
  font-size: 11px;
  margin-top: 5px;
}
.Results h2 {
  text-align: center;
  letter-spacing: 5px;
}

section {
  background: var(--secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 90%;
  margin: 10px auto;
  padding: 16px;
}

.Phonetics {
  text-align: center;
}
.Phonetics .text {
  opacity: 0.7;
}
.Phonetics .emoji {
  color: #795e86;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
}
.Phonetics .emoji:hover {
  color: #6c425d;
}

.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  font-style: italic;
  margin-top: 5px;
  opacity: 0.7;
}

.Synonyms li {
  display: inline-block;
  font-size: 13px;
  padding-right: 15px;
  opacity: 0.8;
}

.Photos img {
  border-radius: 4px;
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  header {
    padding: 80px 0;
  }
  .Dictionary h1 {
    font-size: 35px;

    margin: -50px 0 20px;
  }
}
